@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alkatra', cursive;
}

body{
  background: black;
}

h1, h2, p, a{
  color: white;
  text-decoration: none;

}

ul{
  list-style-type: none ;
}

